* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(24, 24, 27);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 320px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffff;
    text-decoration: underline;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(39, 39, 42) ;
    color:#d1d5db
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.analysis-section {
    margin-top: 16px;
    background-color: rgb(39, 39, 42);
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 200px; 
    min-width: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.analysis-section p {
    color: #d1d5db;
    font-size: 18px;
    white-space: pre-wrap;
}
